*, ::after, ::before {
    box-sizing: border-box;
}
.one-pricing .onehero {
    padding-top: 120px;
}
.one-pricing .onehero img {
    width: 300px;
    height: auto;
    float: right;
}
.one-pricing .onehero .css-dl70b6 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.one-pricing .onehero .css-dl70b6 h2.css-fffz2f {
    margin-left: 0;
    margin-right: 0 !important;
    font-size: 2rem;
    padding: 0;
    margin-bottom: 25px;
    max-width: 100%;
}
.one-pricing .onehero {
    padding-top: 120px;
    padding-bottom: 80px;
}
.one-pricing .op-fl {
    justify-content: left !important;
    text-align: left !important;
    padding: 15px;
    padding-left: 25px;
    display: flex;
}








@media (max-width:767px) {
    .one-pricing .onehero .css-ag8skq {
        display: block;
    }
    .one-pricing #faq .css-ae809u {
        display: none;
    }
    .one-pricing #faq .css-1chvpb5 {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
    }
    .one-pricing #faq .css-8tdzxf {
        font-size: 1.1rem;
        padding-right: 2rem;
    }
    .css-5qp8hh .accordion__button::before {
        margin-right: 0px;
    }
    #contactsrow p {
        padding: 0 20px !important;
    }
}

.slider {
    background: transparent !important;
    border: 0 !important;
}
.slider:before {display: none !important}


